.logo {
  max-width: 50px;
}

.encabezado {
  background-image: url("https://thumbs.dreamstime.com/b/comida-mexicana-doble-borde-vista-superior-sobre-fondo-de-banner-madera-oscura-con-espacio-copia-frontera-el-un-cartel-tacos-191565020.jpg");
  padding: 20px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5px;
  box-shadow: 0 0 10px rgb(182, 182, 182);
}
.encabezado_h1 {
  color: white;
  font-family: fantasy, Georgia, serif;
  font-size: 3rem;
  margin-top: 20px;
  border-radius: 15px;
  text-shadow: 0 0 10px rgb(182, 182, 182);
}
.encabezado_logo {
  max-width: 200px;
  -webkit-animation: encabezado_logo 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate both;
  animation: encabezado_logo 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate both;
}

@-webkit-keyframes encabezado_logo {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes encabezado_logo {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.contenedor {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  padding: 0px;
  display: inline-block;
}

.titulo_contenido {
  text-align: center;
  color: rgb(156, 35, 35);
  font-family: fantasy, Georgia, serif;
  font-size: 3rem;
  margin-top: 10px;
  box-shadow: 0 0 10px rgb(85, 13, 13);
  border-radius: 15px;
}

.card {
  box-shadow: 0 0 10px rgb(71, 71, 71);
  margin-bottom: 10px;
}

.btn:hover {
  box-shadow: 0 0 10px rgb(59, 9, 9);
}

.contenido_aside {
  background-color: hsl(0deg, 0%, 100%);
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  margin-top: 80px;
}
.contenido_aside_img {
  width: auto;
  align-self: center;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .navbar-nav {
    display: block;
    text-align: center;
  }
  .nav-link {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
  }
  .nav-item {
    margin: 1px 0px;
  }
  .titulo_contenido {
    font-size: 2rem;
  }
}
.fila_titulo {
  text-align: center;
  color: rgb(156, 35, 35);
  font-family: fantasy, Georgia, serif;
  font-size: 3rem;
  margin: 20px;
  box-shadow: 0 0 10px rgb(85, 13, 13);
  border-radius: 15px;
}
.fila_parrafo {
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  background-color: #fdf3e6;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 115, 0);
}
.fila_img_acerca_de {
  border: 1px solid rgb(250, 154, 130);
  border-radius: 100px;
  box-shadow: 0 0 10px rgb(85, 13, 13);
  padding-top: 0px;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .fila_titulo {
    font-size: 2rem;
  }
  .fila_parrafo {
    font-size: 1.2rem;
  }
}
.header_nav {
  background-color: #cf5d3d;
  border: 1px solid #e4d5c3;
  border-radius: 5px;
  box-shadow: 0 0 5px #e9dbc9;
  text-decoration: none;
  padding: 4px;
}
.header_nav_logo {
  max-width: 50px;
}

a.nav-link {
  color: black;
  background-color: #E89F71;
  border: 1px solid #e4d5c3;
  border-radius: 5px;
  box-shadow: 0 0 5px #e9dbc9;
  text-decoration: none;
  padding: 4px;
  margin: 0px 2px;
}
a.nav-link:hover {
  color: rgb(194, 41, 41);
  background-color: #f1c8af;
}

.footer {
  background-color: #D57149;
  padding: 0px;
  text-align: right;
  margin-top: 8px;
  border-radius: 5px;
  box-shadow: 0 0 5px #e9dbc9;
  text-decoration: none;
}
.footer_nav {
  padding: 0px;
  margin: 5px;
}
.footer_nav_il {
  background-color: #E89F71;
  border-radius: 5px;
  box-shadow: 0 0 5px #e9dbc9;
  text-decoration: none;
  padding: 4px;
}
.footer_nav_il_link {
  border-radius: 5px;
  box-shadow: 0 0 5px #e9dbc9;
  text-decoration: none;
  padding: 4px;
  color: #000;
}
.footer_nav_il_link:hover {
  background-color: #f1c8af;
  color: rgb(194, 41, 41);
}

.contenido_carrusel {
  height: 600px;
}
.contenido_carrusel_titulo {
  text-align: center;
  color: rgb(156, 35, 35);
  font-family: fantasy, Georgia, serif;
  font-size: 3rem;
  margin-top: 20px;
  box-shadow: 0 0 10px rgb(85, 13, 13);
  border-radius: 15px;
}
.contenido_carrusel_card {
  background-color: #ffd29f;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 115, 0);
}
.contenido_carrusel_img {
  max-width: 100%;
  height: 400px;
  text-align: center;
}

.card_recetas {
  background-color: #fcecd9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 115, 0);
}

.aside_recetas {
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
}

@media only screen and (max-width: 768px) {
  .contenido_carrusel_titulo {
    font-size: 2rem;
  }
}
.contenido_consejos {
  font-family: fantasy;
}
.contenido_consejos_header {
  background-color: #EDCFA9;
}
.contenido_consejos_header_titulo {
  color: rgb(156, 35, 35);
  font-family: fantasy, Georgia, serif;
  font-size: 3rem;
  margin-top: 10px;
  box-shadow: 0 0 10px rgb(85, 13, 13);
  border-radius: 15px;
}
.contenido_consejos_p {
  font-size: 1.5rem;
  font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
}
.contenido_consejos_img {
  border-radius: 5px;
  box-shadow: 0 0 5px #e9dbc9;
  text-decoration: none;
  border-radius: 200px;
  box-shadow: 0 0 20px rgb(85, 13, 13);
}
.contenido_consejos_ul {
  padding: 5px 0px;
  margin: 5px;
  list-style: none;
  font-family: Garaond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
  font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
  .contenido_consejos_header_titulo {
    font-size: 2rem;
  }
  .contenido_consejos_p {
    font-size: 1.2rem;
  }
}
.contenido_contacto {
  text-align: center;
  color: rgb(156, 35, 35);
  font-family: fantasy, Georgia, serif;
  font-size: 3rem;
  margin-top: 20px;
  box-shadow: 0 0 10px rgb(85, 13, 13);
  border-radius: 15px;
}

@media only screen and (max-width: 768px) {
  .contenido_contacto {
    font-size: 2rem;
  }
  .contenido_contacto_p {
    font-size: 1rem;
  }
}
body {
  background-image: url("https://as1.ftcdn.net/v2/jpg/02/15/22/24/1000_F_215222458_YOwLVKx8QHe6bzzWfbRhslBQlB3W5VQU.jpg");
  margin: 5px;
  overflow-x: hidden;
}/*# sourceMappingURL=styles.css.map */