@import "./components/maps",
        "./components/mixins",
        "./components/index/index",
        "./components/about_us/fila",
        "./components/about_us/header",
        "./components/about_us/footer",
        "./components/recetas/recetas";

body{
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/15/22/24/1000_F_215222458_YOwLVKx8QHe6bzzWfbRhslBQlB3W5VQU.jpg") ;
    margin: 5px;
}
.logo{
    max-width: 50px;
}


