.encabezado {
  background-image: url("https://thumbs.dreamstime.com/b/comida-mexicana-doble-borde-vista-superior-sobre-fondo-de-banner-madera-oscura-con-espacio-copia-frontera-el-un-cartel-tacos-191565020.jpg");
  padding: 20px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5px;
  box-shadow: 0 0 10px rgb(182, 182, 182);
}
@-webkit-keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.contenedor {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  padding: 0px;
  display: inline-block;
}

.card {
  box-shadow: 0 0 10px rgb(71, 71, 71);
}

.btn:hover {
  box-shadow: 0 0 10px rgb(59, 9, 9);
}

.contenido_aside {
  background-color: hsl(0deg, 0%, 100%);
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
.contenido_aside_img {
  width: auto;
  align-self: center;
  border-radius: 4px;
}

.fila {
  background-color: #EDCFA9;
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.fila_h1 {
  background-color: #E89F71;
  color: #AA4A30;
}
.fila_titulo {
  text-align: center;
  color: #AA4A30;
}
.fila_parrafo {
  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
}
.fila_img_acerca_de {
  border: 1px solid rgb(130, 178, 250);
  border-radius: 100px;
  box-shadow: 0 0 15px rgb(71, 71, 71);
  padding-top: 0px;
  margin-top: 10px;
  text-align: center;
  min-height: auto;
}

.header_nav {
  background-color: #cf5d3d;
  border: 1px solid #e4d5c3;
  border-radius: 5px;
  box-shadow: 0 0 5px #e9dbc9;
  text-decoration: none;
  padding: 4px;
}
.header_nav_logo {
  max-width: 50px;
}

a.nav-link {
  color: black;
  background-color: #E89F71;
  border: 1px solid #e4d5c3;
  border-radius: 5px;
  box-shadow: 0 0 5px #e9dbc9;
  text-decoration: none;
  padding: 4px;
  margin: 0px 2px;
}
a.nav-link:hover {
  color: rgb(194, 41, 41);
  background-color: #f1c8af;
}

.footer {
  background-color: #D57149;
  padding: 0px;
  text-align: right;
  margin-top: 8px;
  border-radius: 5px;
  box-shadow: 0 0 5px #e9dbc9;
  text-decoration: none;
  padding: 4px;
}
.footer_nav {
  padding: 0px;
  margin: 5px;
  display: inline-block;
}
.footer_nav_il {
  background-color: #E89F71;
  border-radius: 5px;
  box-shadow: 0 0 5px #e9dbc9;
  text-decoration: none;
  padding: 4px;
}
.footer_nav_il_link {
  border-radius: 5px;
  box-shadow: 0 0 5px #e9dbc9;
  text-decoration: none;
  padding: 4px;
  color: #000;
}
.footer_nav_il_link:hover {
  background-color: #f1c8af;
  color: rgb(194, 41, 41);
}

.contenido_carrusel {
  height: 600px;
  justify-content: center;
}
.contenido_carrusel_card {
  background-color: #e6e6e6;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(160, 160, 160);
  padding: 5px;
  margin: 30px 0px;
}
.contenido_carrusel_img {
  max-width: 100%;
  height: 400px;
  text-align: center;
}

.aside_recetas {
  background-color: #f0f0f0;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  padding: 10px;
}

body {
  background-image: url("https://as1.ftcdn.net/v2/jpg/02/15/22/24/1000_F_215222458_YOwLVKx8QHe6bzzWfbRhslBQlB3W5VQU.jpg");
  margin: 5px;
  justify-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.logo {
  max-width: 50px;
}/*# sourceMappingURL=styles.css.map */