
.contenido_contacto{
        text-align: center;
        color: rgb(156, 35, 35);
        font-family: fantasy, Georgia, serif;
        font-size: 3rem;
        margin-top: 20px;
        box-shadow: 0 0 10px rgb(85, 13, 13);
        border-radius: 15px;
    }

    @media only screen and (max-width: 768px) {
        .contenido_contacto{
            font-size: 2rem;
        }
        .contenido_contacto_p{
            font-size: 1rem;
        }
    }