<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Recetas</title>
</head>
    <body >
            <main> 
                <header>
                    <nav class="navbar navbar-expand-lg header_nav">
                        <div class="container-fluid">
                            <a href="#">
                                <img class="logo img-fluid" src="https://www.entrerios.gov.ar/manosentrerrianas/sites/default/files/styles/prueba/public/imagenes_emprendedores/SaboresDeMiCocina.png?itok=Cm4woknC" alt="logo">
                            </a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
                            <ul class="navbar-nav navbar-dark align-items-end">
                              <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/templates/recetas.html">Recetas</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </nav>
                </header>

            <!--<section Recetas-->

            
                <div class="containe">
                    <div class="row justify-content-around">
                        <div class="col-md-4">
                            <div >
                                <h3>Receta 1</h3>
                                    <img src="https://www.tuhogar.com/content/dam/cp-sites/home-care/tu-hogar/es_mx/recetas/comidas-faciles-y-rapidas/receta-de-cocina-para-ninos/pure-patata-cara-raton-destacado-axion.jpg" width="400" alt="Receta 2">
                                    <ul>
                                        <li>
                                            <h3>Ingredientes</h3>
                                            <ul>
                                                <li>1 taza de leche</li>
                                                <li>1 taza de azúcar</li>
                                                <li>1 taza de harina</li>
                                                <li>1 taza de vainilla</li>
                                                <li>1 taza de cacao</li>
                                                <li>1 taza de chocolate</li>
                                                <li>1 taza de nueces</li>
                                                <li>1 taza de vainilla</li>
                                            </ul>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                        <div class="col-md-4">        
                            <aside>
                                <h3>Otras recetas</h3>
                                <ul>
                                    <li><a href="#"> Receta 1</li></a>
                                    <li><a href="#"> Receta 2</li></a>
                                    <li><a href="#"> Receta 3</li></a>
                                    <li><a href="#"> Receta 4</li></a>
                                    <li><a href="#"> Receta 5</li></a>
                                    <li><a href="#"> Receta 6</li></a>
                                    <li><a href="#"> Receta 7</li></a>
                                    <li><a href="#"> Receta 8</li></a>
                                </ul>
                            </aside></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>




                    <!--Footer-->

                <footer >
                    <div class="footer">
                        <nav class="footer_nav"> 
                            <il class="footer_nav_il"><a class="footer_nav_il_link" href= "/templates/contacto.html"  target="_blank">Contacto</a></il>                                    
                            <il class="footer_nav_il"><a class="footer_nav_il_link"  href= "/templates/acerca_de.html" target="_blank">Acerca de</a></il>
                        </nav> 
                    </div>
                </footer>

            </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>
</html>