.fila{
    &_titulo{
        text-align: center;
        color: rgb(156, 35, 35);
        font-family: fantasy, Georgia, serif;
        font-size: 3rem;
        margin: 20px;
        box-shadow: 0 0 10px rgb(85, 13, 13);
        border-radius: 15px;
    }
    &_parrafo{
        text-align: center;
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5rem;
        background-color: #fdf3e6;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(255, 115, 0);  
    }
    &_img_acerca_de {
        border: 1px solid rgb(250, 154, 130);
        border-radius: 100px;
        box-shadow: 0 0 10px rgb(85, 13, 13);
        padding-top: 0px;
        margin-top: 10px;
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .fila_titulo{
        font-size: 2rem;
    }
    .fila_parrafo{
        font-size: 1.2rem;
    }
}