.footer {
    background-color: map-get($colores,"footer" );
    padding: 0px;
    text-align: right;
    margin-top: 8px;
    @include navs;
    &_nav{
        padding: 0px;
        margin: 5px;
        display: inline-block;
    }
    
    &_nav_il{
        background-color: map-get($colores,"btn_nav" );
        @include navs;

        &_link{
            @include navs;
            color: #000;
            &:hover {
                background-color: map-get($colores,"btn_hover" );
                color: rgb(194, 41, 41);
            }
        }
    }
}
