.contenido_consejos{

    font-family: fantasy;


    &_header{
        
        background-color: map-get($colores , "contenido" );
        &_titulo{
            color: rgb(156, 35, 35);
            font-family: fantasy, Georgia, serif;
            font-size: 3rem;
            margin-top: 10px;
            box-shadow: 0 0 10px rgb(85, 13, 13);
            border-radius: 15px;
        }
    }

    &_p{
        font-size: 1.5rem;
        font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif
    }

    &_img{
        @include navs;
        border-radius: 200px;
        box-shadow: 0 0 20px rgb(85, 13, 13);
    }

    &_ul{
        padding: 5px 0px;
        margin: 5px;
        list-style: none;
        font-family: Garaond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
        font-size: 1.2em;
    }
}
@media only screen and (max-width: 768px) {
    .contenido_consejos_header_titulo{
        font-size: 2rem;
    }
    .contenido_consejos_p{
        font-size: 1.2rem;
    }
}