
.logo{
    max-width: 50px;
}




.encabezado{
    background-image: url("https://thumbs.dreamstime.com/b/comida-mexicana-doble-borde-vista-superior-sobre-fondo-de-banner-madera-oscura-con-espacio-copia-frontera-el-un-cartel-tacos-191565020.jpg");
    padding: 20px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    box-shadow: 0 0 10px rgb(182, 182, 182);
    
    &_h1{
        color: white;
        font-family: fantasy, Georgia, serif;
        font-size: 3rem;
        margin-top: 20px;
        border-radius: 15px;
        text-shadow: 0 0 10px rgb(182, 182, 182);
    }
    &_logo{
        max-width: 200px;
        -webkit-animation: encabezado_logo 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
        animation: encabezado_logo 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
        
}}
@-webkit-keyframes encabezado_logo {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes encabezado_logo {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }



.contenedor{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    padding: 0px;
    display: inline-block;
}

.titulo_contenido{
    text-align: center;
    color: rgb(156, 35, 35);
    font-family: fantasy, Georgia, serif;
    font-size: 3rem;
    margin-top: 10px;
    box-shadow: 0 0 10px rgb(85, 13, 13);
    border-radius: 15px;
}


.card{
    box-shadow: 0 0 10px rgb(71, 71, 71);
    margin-bottom: 10px;
}
.btn:hover{
    box-shadow: 0 0 10px rgb(59, 9, 9);
}



.contenido_aside{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 10px  rgb(0, 0, 0);
    margin-top: 80px;
    &_img{
        width: auto;
        align-self: center;
        border-radius: 4px;

    }
}


@media only screen and (max-width: 768px) {

    .navbar-nav{
        display: block;
        text-align: center;
    }
    .nav-link{
        font-size: 1.2rem;
        color: rgb(255, 255, 255);
        
    }
    .nav-item{
        margin: 1px 0px;
    }
    .titulo_contenido{
        font-size: 2rem;
    }

}