


.encabezado{
    background-image: url("https://thumbs.dreamstime.com/b/comida-mexicana-doble-borde-vista-superior-sobre-fondo-de-banner-madera-oscura-con-espacio-copia-frontera-el-un-cartel-tacos-191565020.jpg");
    padding: 20px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    box-shadow: 0 0 10px rgb(182, 182, 182);
    max-width: 100%;
    height: 100%;
    &_logo{
        @-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.2);transform:scale(1.2)}100%{-webkit-transform:scale(1);transform:scale(1)}}
        @keyframes scale-up-center{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.2);transform:scale(1.2)}100%{-webkit-transform:scale(1);transform:scale(1)}}

    }
}


.contenedor{
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    padding: 0px;
    margin: 5px;
    text-align: left;
    display: inline-block;
}



.card{
    box-shadow: 0 0 10px rgb(71, 71, 71);
    &-img-top{
        width: auto;
        height: 350px;
    }
}
.btn:hover{
    box-shadow: 0 0 10px rgb(59, 9, 9);
}



.contenido_aside{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 10px  rgb(0, 0, 0);
    &_img{
        width: 100%;
        align-self: center;
        border-radius: 4px;
    }
    &_h4{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
